<!doctype html>
<html lang="en" class=" -webkit-">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      <link rel="icon" href="../static/Photos/SitePhotos/icon.jpg" type="image/jpg">

      <title>{% block title %}{% endblock %}</title>


  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow" id="navbar">
        <div>
            <a class="navbar-brand" title="Strona główna">Audio Player</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('player')}}">Player</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('addMusic') }}">Add music</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

        {% block content %}{% endblock %}

</body>

</html>